{% extends "_global/index.html" %}

{% block main %}
<div>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item"><a href="{{ BASE }}user/profile">Profil</a></li>
        <li class="list-group-item"><a href="{{ BASE }}user/categories">Kategorije</a></li>
        <li class="list-group-item"><a href="{{ BASE }}user/admin">Admin</a></li>
        <li class="list-group-item"><a href="{{ BASE }}user/laptop">Laptop</a></li>      
    </ul>
    

    <div class="categories">
        <table class="table">
            <thead>
                <tr>
                    <th>Username</th>
                    
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>email</th>
                    <th></th>
                </tr>
                

               
            </thead>
            <tbody>
                {% for user in users %}
              <tr>              
                <td> {{ user.username|escape }}</td>
                
                <td> {{ user.firstname|escape }}</td>
                <td> {{ user.lastname|escape }}</td>
                <td> {{ user.email|escape }}</td>
                <td> <a href="{{ BASE }}user/admin/edit/{{ user.user_id }}">Izmeni</a></td>
                
                
              </tr>
              {% endfor %}
            </tbody>
        </table>
       
       
    </div>
    <div class="options">
        <a href="{{ BASE }}user/admin/add">Dodaj Administratora</a>
    </div>
</div>
{% endblock %}