{% extends "_global/index.html" %}

{% block main %}
<div>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item"><a href="{{ BASE }}user/profile">Profil</a></li>
        <li class="list-group-item"><a href="{{ BASE }}user/categories">Categories</a></li>
        <li class="list-group-item"><a href="{{ BASE }}user/admin">Admin</a></li>
        <li class="list-group-item"><a href="{{ BASE }}user/laptop">Laptop</a></li>      
    </ul>
   

    <form class="laptop-form" method="POST" enctype="multipart/form-data" >
        <div class="form-group">
            <label for="username">Username: </label>
            <input type="text" id="username" name="username" required class="form-control" value="{{ user.username|escape }}" required>
        </div>
       
        <div class="form-group">
            <label for="password">Password: </label>
            <input type="text" id="password" name="password" required class="form-control"  placeholder="nova lozinka" required >
        </div>
        <div class="form-group">
            <label for="firstname">Firstname: </label>
            <input type="text" id="firstname" name="firstname" required class="form-control" value="{{ user.firstname|escape }}" required>
        </div>
        <div class="form-group">
            <label for="lastname">Lastname: </label>
            <input type="text" id="lastname" name="lastname" required class="form-control" value="{{ user.lastname|escape }}" required>
        </div>
        <div class="form-group">
            <label for="email">E-mail: </label>
            <input type="text" id="email" name="email" required class="form-control" value="{{ user.email|escape }}" required>
        </div>
       

        <div>
            <button type="submit" class="btn btn-primary">
                Izmeni admina
            </button>
        </div>
    </form>
</div>
{% endblock %}