{% extends "_global/index.html" %}

{% block main %}
<div>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item"><a href="{{ BASE }}user/profile">Profil</a></li>
        <li class="list-group-item"><a href="{{ BASE }}user/categories">Categories</a></li>
        <li class="list-group-item"><a href="{{ BASE }}user/admin">Admin</a></li>
        <li class="list-group-item"><a href="{{ BASE }}user/laptop">Laptop</a></li>      
    </ul>
   

    <form class="laptop-form" method="POST" enctype="multipart/form-data" >
        <div class="form-group">
            <label for="title">Naziv: </label>
            <input type="text" id="title" name="title" required class="form-control" >
        </div>
        <div class="form-group">
            <label for="ram">RAM: </label>
            <input type="text" id="ram" name="ram" required class="form-control">
        </div>
         <div class="form-group">
            <label for="image">Slika: </label>
            <input type="file" id="image" name="image" required class="form-control" accept="image/jpeg, image/png">         
        </div>
        <div class="form-group">
            <label for="price">Cena: </label>
            <input type="text" id="price" name="price" required class="form-control">
        </div>
        <div class="form-group">
            <label for="category_id">Kategorija: </label>
            <select class="form-control" name="category_id" id="category_id">
                {% for category in categories %}
                <option value="{{ category.category_id }}">
                    {{ category.name }}
                </option>
                {% endfor %}
            </select>
        </div>
       

        <div class="form-group">
            <label for="os">Operativni sistem: </label>
            <input type="text" id="os" name="os" required class="form-control" >
        </div>
        <div class="form-group">
            <label for="disc_capacity">Kapacitet diska(TB): </label>
            <input type="text" id="disc_capacity" name="disc_capacity" required class="form-control">
        </div>
        <div class="form-group">
            <label for="disc_type">Tip diska: </label>
            <input type="text" id="disc_type" name="disc_type" required class="form-control">
        </div>
        <div class="form-group">
            <label for="diagonal">Diagonala: </label>
            <input type="text" id="diagonal" name="diagonal" required class="form-control">
        </div>
        <div class="form-group">
            <label for="keyboard">Tastatura: </label>
            <input type="text" id="keyboard" name="keyboard" required class="form-control">
        </div>
        <div class="form-group">
            <label for="numpad">Numpad: </label>
           <!-- <input type="text" id="numpad" name="numpad" required class="form-control"> -->
            <select class="form-control" id="numpad" required name="numpad" >        
                <option value="1" selected>ima</option>
                <option value="0">nema</option>          
            </select>
        </div>
        <div class="form-group">
            <label for="connector_type">Konektor: </label>
            <input type="text" id="connector_type" name="connector_type" required class="form-control">
        </div>
        <div class="form-group">
            <label for="processor">Procesor: </label>
            <input type="text" id="processor" name="processor" required class="form-control" >
        </div>
        <div class="form-group">
            <label for="graphic_card_type">Tip graficke kartice: </label>
            <select class="form-control" id="graphic_card_type" required name="graphic_card_type" >
                
                <option value="Integrisana" selected>Integrisana</option>
                <option value="Diskretna">Diskretna</option>
                
                             
              </select>
           <!-- <input type="text" id="graphic_card_type" name="graphic_card_type" required class="form-control">-->
        </div>
        <div class="form-group">
            <label for="graphic_card">Graficka kartica: </label>
            <input type="text" id="graphic_card" name="graphic_card" required class="form-control" >
        </div>

        <div>
            <button type="submit" class="btn btn-primary">
                Dodaj laptop
            </button>
        </div>
    </form>
</div>
{% endblock %}