{% extends "_global/index.html" %}

{% block main %}
<div>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item"><a href="{{ BASE }}user/profile">Profil</a></li>
        <li class="list-group-item"><a href="{{ BASE }}user/categories">Kategorije</a></li>
        <li class="list-group-item"><a href="{{ BASE }}user/admin">Admin</a></li>
        <li class="list-group-item"><a href="{{ BASE }}user/laptop">Laptop</a></li>      
    </ul>
    

    <div class="categories">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Operativni sistem</th>
                    <th>Procesor</th>
                    <th>Graficka</th>
                    <th>Cena</th>
                    <th></th>
                    <th></th>
                </tr>
                

               
            </thead>
            <tbody>
                {% for laptop in laptops %}
              <tr>              
                <td> {{ laptop.title|escape }}</td>
                <td> {{ laptop.os|escape }}</td>
                <td> {{ laptop.processor|escape }}</td>
                <td> {{ laptop.graphic_card|escape }}</td>
                <td> {{ laptop.price|escape }}</td>
                <td> <a href="{{ BASE }}user/laptop/edit/{{ laptop.laptop_id }}">Izmeni</a></td>
                <td> <a href="{{ BASE }}user/laptop/delete/{{ laptop.laptop_id }}">Izbriši</a></td>
                
              </tr>
              {% endfor %}
            </tbody>
        </table>
       
       
    </div>
    <div class="options">
        <a href="{{ BASE }}user/laptop/add">Dodaj laptop</a>
    </div>
</div>
{% endblock %}