{% extends "_global/index.html" %}

{% block main %}

<!-- Korisniku treba omogućiti pretragu po filterima u kojima korisnik može da uključi: 
    opsege radne +
    i skladišne memorije,+
    dijagonalu ekrana,+
    vrstu video izlaza,+
     da li poseduje eksternu grafičku karticu
 ili je integrisana itd. Prikazati samo one računare koji odgovaraju podešenoj grupi filtera. -->
 <div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            {% for category in categories %}
            <div class="card  col-sm-12 text-center category">
                <div class="card-body">
                    <a href="{{ BASE }}category/{{category.category_id}}"
                        class="card-title">
                        {{ category.name }}
                    </a>
                </div>
            </div>
            {% endfor %}
            

        </div>
        <div class="col-sm-9">

            <div class="container-fluid">
                <div class="row">
                {% for laptop in laptops %}
               
                    <div class="card col-sm-3 text-center category">
                        <img class="card-img-top" text-center src="{{ BASE }}assets/uploads/{{ laptop.image }}" 
                                alt="Laptop slika - {{ laptop.laptop_id }}" class="width-100-percent">
                        <div class="card-body">           
                            <a href="{{ BASE }}laptop/{{laptop.laptop_id}}"
                                class="card-title">
                            
                                {{ laptop.title }}
                                
                             </a>
                             
                        </div>
                    </div>
                
                {% endfor %}
                </div>
             </div>   


        </div>

    </div>

</div>
 
</div>
</div>
 <!--   <ul>
       {% for auction in auctionsInCategory %}
        <li class="auction row">
            <div class="col-12 col-md-2">
                <a href="{{ BASE }}auction/{{ auction.auction_id }}">
                    <img src="{{ BASE }}assets/uploads/{{ auction.image_path }}"
                         alt="Velika slika - {{ auction.auction_id }}" class="width-100-percent">
                </a>
            </div>

            <div class="col-12 col-md-10">
               <a href="{{ BASE }}auction/{{ auction.auction_id }}">
                    {{ auction.title|escape }}
                </a>

                <div class="row">
                    <span class="col-6 col-md-4">{{ auction.starts_at|escape }}</span>
                    <span class="col-6 col-md-4">{{ auction.ends_at|escape }}</span>
                    <span class="col-12 col-md-4">{{ auction.last_offer_price|escape }} &euro;</span>
                </div>
            </div>
        {% endfor %}
    </ul>-->  
{% endblock %}

{% block naslov %}
{{ category.name|escape }}
{% endblock %}