{% extends "_global/index.html" %}

{% block main %}
<div>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item"><a href="{{ BASE }}user/profile">Profil</a></li>
        <li class="list-group-item"><a href="{{ BASE }}user/categories">Kategorije</a></li>
        <li class="list-group-item"><a href="{{ BASE }}user/admin">Admin</a></li>
        <li class="list-group-item"><a href="{{ BASE }}user/laptop">Laptop</a></li>      
    </ul>

    <table class="table">
            
        <tbody>
          
          <tr>
            <th scope="row">Username</th>
            <td> {{ user.username|escape }}</td>
       
          </tr>
          <tr>
            <th scope="row">Password hash</th>
            <td>{{ user.password|escape }}</td>
           
          </tr>
          <tr>
            <th scope="row">Firstname</th>
            <td>{{ user.firstname|escape }}</td>
         
          </tr>
          <tr>
            <th scope="row">Lastname</th>
            <td>{{ user.lastname|escape }}</td>
         
          </tr>
          <tr>
            <th scope="row">e-mail</th>
            <td>{{ user.email|escape }}</td>
         
          </tr>
          
        </tbody>
      </table>

   
                
       
</div>
{% endblock %}
