{% extends "_global/index.html" %}

 
{% block main %}

<!-- Korisniku treba omogućiti pretragu po filterima u kojima korisnik može da uključi: 
    opsege radne +
    i skladišne memorije,+
    dijagonalu ekrana,+
    vrstu video izlaza,+
     da li poseduje eksternu grafičku karticu
 ili je integrisana itd. Prikazati samo one računare koji odgovaraju podešenoj grupi filtera. -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            {% for category in categories %}
            <div class="card  col-sm-12 text-center category">
                <div class="card-body">
                    <a href="{{ BASE }}category/{{category.category_id}}"
                        class="card-title">
                        {{ category.name }}
                    </a>
                </div>
            </div>
            {% endfor %}
            <form class="filter-form" method="POST" action="{{BASE}}" enctype="multipart/form-data" >  
            <div class="form-group">
                <label for="connector_type">Video izlaz:</label>
                <select class="form-control" id="connector_type" name="connector_type">
                  <option selected></option>  
                  <option>VGA</option>
                  <option>HDMI</option>
                  <option>DVI</option>                               
                </select>
            </div>
            <div class="form-group">
                <label for="ram">RAM:</label>
                <select class="form-control" id="ram" name="ram" >
                  <option value="0" selected></option> 
                  <option value="1" >2GB</option>
                  <option value="2" >4GB</option>
                  <option value="3" >8GB</option>
                  <option value="4" >16GB</option>
                  <option value="5" >32GB</option>
                  <option value="6" >64GB i vise</option>                  
                </select>
            </div>
            <div class="form-group">
                <label for="disc_capacity">HDD:</label>
                <select class="form-control" id="disc_capacity" name="disc_capacity" >
                  <option value="0" selected></option> 
                  <option value="1" >do 1TB</option>
                  <option value="2" >od 1 do 2TB</option>
                  <option value="3" >od 2 do 4TB</option>
                  <option value="4" >od 4TB do 8TB</option>
                  <option value="5" >vise od 8TB</option>
                               
                </select>
            </div>
            <div class="form-group">
                <label for="diagonal">Dijagonala:</label>
                <select class="form-control" id="diagonal" name="diagonal" >
                  <option value="0" selected></option> 
                  <option value="1" >do 11"</option>
                  <option value="2" >od 11 do 13"</option>
                  <option value="3" >od 13 do 15"</option>
                  <option value="4" >od 15 do 17"</option>
                  <option value="5" >preko 17"</option>             
                </select>
            </div>
            <div class="form-group">
                <label for="graphic_card_type">Tip graficke kartice:</label>
                <select class="form-control" id="graphic_card_type" name="graphic_card_type" >
                  <option selected></option> 
                  <option>Integrisana</option>
                  <option>Diskretna</option>
                  
                               
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Primeni</button>
            </form>

        </div>
        <div class="col-sm-9">

            <div class="container-fluid">
                <div class="row">
                   
                {% if laptops is empty %}
                <p>Za zadati filter nema proizvoda</p>
                {% endif %}
                {% for laptop in laptops %}
               
                    <div class="card col-sm-3 text-center category">
                        <img class="card-img-top" text-center src="{{ BASE }}assets/uploads/{{ laptop.image }}" 
                                alt="Laptop slika - {{ laptop.laptop_id }}" class="width-100-percent">
                        <div class="card-body">           
                            <a href="{{ BASE }}laptop/{{laptop.laptop_id}}"
                                class="card-title">
                            
                                {{ laptop.title|escape }}
                                
                             </a><br>
                             {{laptop.price|escape}}&euro;
                             
                        </div>
                    </div>
                
                {% endfor %}
                </div>
             </div>   


        </div>

    </div>

</div>
 
</div>
</div>

{% endblock %}
