{% extends "_global/index.html" %}

{% block main %}
<div>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item"><a href="{{ BASE }}user/profile">Profil</a></li>
        <li class="list-group-item"><a href="{{ BASE }}user/categories">Kategorije</li>
        <li class="list-group-item"><a href="{{ BASE }}user/admin">Admin</li>
        <li class="list-group-item"><a href="{{ BASE }}user/laptop">Laptop</li>      
    </ul>
    

    <div class="categories">
        <ul>
            {% for category in categories %}
            <li>
                <a href="{{ BASE }}user/categories/edit/{{ category.category_id }}">
                    {{ category.name|escape }}
                </a>
            {% endfor %}
        </ul>
    </div>

    <div class="options">
        <a href="{{ BASE }}user/categories/add">Dodaj kategoriju</a>
    </div>

</div>
{% endblock %}
