{% extends "_global/index.html" %}

{% block main %}

    
    <div class="card col-8 col-sm-9 col-md-9 col-lg-9 col-xl-10 text-center category">
        
        <table class="table">
            
            <tbody>
              <tr>
                <th scope="row" colspan="2">
                  <img id="laptopimg" src="{{ BASE }}assets/uploads/{{ laptop.image }}" alt="laptop"  > </img>
                </th>

              </tr>
              <tr>
                <th scope="row">Naziv</th>
                <td> {{ laptop.title|escape }}</td>
           
              </tr>
              <tr>
                <th scope="row">RAM</th>
                <td> {{ laptop.ram|escape }}GB</td>
           
              </tr>
              <tr>
                <th scope="row">Cena</th>
                <td>{{ laptop.price|escape }}</td>
               
              </tr>
              <tr>
                <th scope="row">Operativni sistem</th>
                <td>{{ laptop.os|escape }}</td>
             
              </tr>
              <tr>
                <th scope="row">Kategorija</th>
                <td>{{ category.name|escape }}</td>
             
              </tr>
              <tr>
                <th scope="row">Kapacitet diska</th>
                <td>{{ laptop.disc_capacity|escape }} TB</td>
             
              </tr>
              <tr>
                <th scope="row">Tip diska</th>
                <td>{{ laptop.disc_type|escape }}</td>
             
              </tr>
              <tr>
                <th scope="row">Dijagonala</th>
                <td>{{ laptop.diagonal|escape }}</td>
             
              </tr>
              <tr>
                <th scope="row">Tastatura</th>
                <td>{{ laptop.keyboard|escape }}</td>
             
              </tr>
              <tr>
                <th scope="row">Numpad</th>
                {% if laptop.numpad %}
                <td>ima</td>
                {% else %}
                <td>nema</td>
                {% endif %}
              </tr>
              <tr>
                <th scope="row">Tip konekcije</th>
                <td>{{ laptop.connector_type|escape }}</td>
             
              </tr>
              <tr>
                <th scope="row">Procesor</th>
                <td>{{ laptop.processor|escape }}</td>
             
              </tr>
              <tr>
                <th scope="row">Tip graficke kartice</th>
                <td>{{ laptop.graphic_card_type|escape }}</td>
             
              </tr>
              <tr>
                <th scope="row">Graficka kartica</th>
                <td>{{ laptop.graphic_card|escape }}</td>
             
              </tr>
            </tbody>
          </table>
        
        
       
    </div>
   
</div>

{% endblock %}